.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile .profile_inner p {
    padding-top: 20px;
    font-size: 0.65em;  /* 85% of the current font size for a slightly smaller text */
    font-weight: 300;   /* Lighter font weight for a cleaner appearance */
    line-height: 1.4;   /* Adequate line spacing for better readability */
    border: none;       /* Removing the dashed border */
    background-color: transparent; /* No background color */
    color: inherit;     /* Inheriting the text color from the parent element */
}


.profile img {
    display: inline-table;
    border-radius: 50%;
}


.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

