/* terminal.css */
.terminal {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 1.2em; /* Increase font size */
    max-height: 500px; /* for example, or 100% if it's within a flex container */
    overflow-y: auto; /* this will allow vertical scrolling */
}

#terminal-close {
    font-size: 1.5em; 
    line-height: 1; /* Aligns the text/icon vertically */
    border: none;
    background: transparent;
    color: #909090; 
    cursor: pointer;
}

#terminal-input {
    width: 100%;
    background-color: var(--terminal-background-color);
    color: var(--terminal-inputfont-color);
    border: none;
    padding: 15px; /* Increase padding for a larger feel */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size relative to the parent .terminal font size */
}

#terminal-output {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 1em; 
    line-height: 1.5; 
    display: block; 
    max-height: 450px; 
    overflow-y: auto; 
    margin: 0; 
    padding: 1em; 
    white-space: pre-wrap; /* Ensures that the text goes to the next line */
}

.terminal.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
