{{- define "main" }}

<article class="about-me">
    <div class="left-section">
        <div class="profile-image">
            <img src="../Images/me.jpg" alt="Me">
        </div>
        <!-- Suggestions: Quotes, Favorite books, Quick facts, Personal motto, Social media links -->
        <div class="additional-content">
            {{/*  <p>Bio here.</p>  */}}
        </div>
    </div>

    <div class="right-section">
        <div class="timeline">
            <div class="event"></div>
            <div class="event"></div>
            <!-- Add more event divs as needed -->
        </div>

        <div class="content">
            <section class="education">
                <!-- Your Education Info -->
            </section>
            <section class="bio">
                <!-- Your Short Bio -->
            </section>
            <section class="experience">
                <!-- Your Experience Info -->
            </section>
            <section class="skills">
                <!-- Your Programming Skills -->
            </section>
            <section class="hobbies">
                <!-- Your Hobbies -->
            </section>
        </div>
    </div>
</article>

{{- end }}{{/* end main */}}
